 body{
    background-color: #454545;
     line-height: 1.7;
}
 a{
     text-decoration: none;
 }
 a, body{
     color: #eee;
 }
.side-bar{
    float: left;
    width: 20%;
    position: fixed;
}


/*儿子属性*/
.side-bar > *{
    padding: 10px 20px;
}

.side-bar .nav a,
.side-bar .tag-list a{
    display: block;
    /*占母元素整宽*/
    padding: 8px 20px;
    color: #888;
    transition:  color 200ms;
}

.side-bar .nav a:hover,
.side-bar .tag-list a:hover{
    color: #eee;
}

 .side-bar .nav a{
     font-weight: 700;
 }

.main{
    float: right;
    width: 80%;
    color: #454545;
}

.article-list ,.article{
    padding: 20px 30px;
    background-color: #fff;
    margin-right: 30%;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.article-list .item > *{
    margin: 10px 0;
}

.article > *{
    margin: 10px 0;
}

.article-list .item{
    margin-bottom: 25px;

}
.article-list .item .title , .article .title{
    color: #454545;
    font-size: 22px;
    font-weight: 700;
}

 .article-list .item .status ,.article .status{
     font-size: 13px;
     color: #ccc;
 }


.header .logo{
    line-height: 1;
    padding: 10px 20px;
    font-size: 30px;
    display: inline-block;
    border: 5px solid #eeeeee;
    margin-bottom: 10px;
}

